{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Active Listings</h2>
    {% for auction in auctions %}
    <div class="auctionbox">
        {% if auction.image_url %}
        <div class="imagebox">
            <a href="{% url 'listings' auction.id %}">
            <img src="{{ auction.image_url }}" alt="">
            </a>
        </div>
        {% endif %}
        <div style="width:auto">
            <a href="{% url 'listings' auction.id %}">
            <h3>{{ auction.name }}</h3>
            </a>
            <div style="font-weight: bold;">Price: ${{ auction.price }}</div>
            <p></p>
            <div style="word-break: break-all;">{{ auction.description }}</div>
            <p></p>
            <div style="color:rgb(170, 162, 162)">Created {{ auction.time }}</div>
        </div>
    </div>
    <br>
    {% endfor %}
{% endblock %}